<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Card Game</title>
    <link th:href="@{/css/game.css}" rel="stylesheet" />
    <script th:src="@{/js/game.js}"></script>
</head>

<body>

    <p style="background-image: url('https://vistapointe.net/images/poker-5.jpg');"></p>

    <h1 th:text="'Game: ' + ${gamestate.id}"></h1>
    <p th:text="'Remaining cards in deck: ' + ${gamestate.deck.remaining}"></p>

    <div>
        <form action="/game/play/backToHomepage" method="get">
            <button type="submit" class="back-button">Back to homepage</button>
        </form>
    </div>

    <p>5 Gleiche: 16x</p>
    <p>4 Gleiche: 8x</p>
    <p>Full House: 6x</p>
    <p>Drei Gleiche: 4x</p>
    <p>Zwei Paare: 3x</p>
    <p>Ein Paar: 2x</p>
    <br>
    <p>Ass > König > Dame > Bube > 10 > 9</p>


    <div class="opponent-card-container" th:if="${opponent_hand != null}">
        <div th:each="card : ${opponent_hand}">
            <img src="https://www.deckofcardsapi.com/static/img/back.png" class="card card-back"></img>
            <img th:src="${card.image}" class="card card-front" th:data-opponentCard-code="${card.code}"></img>
        </div>
    </div>

    <div>
        <form action="/game/play/exchangeCards" method="get" onsubmit="getSelectedCardCodes();">
            <input type="hidden" name="gameId" th:value="${gamestate.id}" />
            <input type="hidden" id="cardsToExchange" name="cardCodes" />
            <button th:if="${!exchanged}" type="submit" class="exchange-button" id="exchange-button" disabled="true" onclick=disableButton()>Karten tauschen</button>
        </form>

        <form action="/game/play" method="get">
            <input type="hidden" name="gameId" th:value="${gamestate.id}" />
            <button type="submit" class="new-round-button">Next Round</button>
        </form>

        <button type="button" id="compare-button" onclick=compareCards()>Karten vergleichen</button>
    </div>
    

    <div class="card-container" th:if="${player_hand != null}">
        <div th:each="card : ${player_hand}">
            <img th:src="${card.image}" th:id="'card-'+${card.handPositionId}" alt="Card image" class="card"
                onclick=selectCard(this.id) th:data-playerCard-code="${card.code}">
        </div>
    </div>

    <div id="gameResult">
        <p id="gameResultText"></p>
    </div>
</body>

</html>