<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Card Game</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<div>
    <form action="/game/play/drawCards" method="get">
        <input type="hidden" name="gameId" th:value="${gamestate.id}" />
        <input type="number" id="count" name="count" min="1" max="52" />
        <input type="submit" value="Draw Cards" />
    </form>

    <form action="/game/play/backToHomepage" method="get">
        <button type="submit" class="back-button">Back to homepage</button>
    </form>
</div>


<body>
    <h1 th:text="'Game: ' + ${gamestate.id}"></h1>
    <p th:text="'Remaining cards in deck: ' + ${gamestate.deck.remaining}"></p>

    <div class="card-container" th:if="${cards != null}">
        <div th:each="card : ${cards}">
            <img th:src="${card.image}" alt="Card image" class="card">
        </div>
    </div>

</body>

</html>