<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registration</title>
    <script th:src="@{/js/registration.js}"></script>
</head>

<body>
    <h2>Registration Form</h2>
    <div th:if="${error} == true">
        <p style="color: red">Error</p>
    </div>

    <div th:if="${error} == false">
        <p style="color: green">Success</p>
    </div>

    <form th:action="@{/account/register}" method="post" th:object="${user}">
        <label for="firstName">First Name:</label><br>
        <input type="text" id="firstName" name="firstName" required th:value="${user.firstName}"> <br>
        <label for="lastName">Last Name:</label><br>
        <input type="text" id="lastName" name="lastName" required th:value="${user.lastName}"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required th:value="${user.email}"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required th:value="${user.password}"><br>
        <label for="confirmPassword">Confirm Password:</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword" required><br>
        <input type="submit" value="Register">
    </form>
</body>

</html>