<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Starting Page</title>
    <link th:href="@{/css/homepage.css}" rel="stylesheet" />
</head>

<body>
    <form action="/logout" method="get">
        <input type="submit" value="Logout" id="logout-button">
    </form>

    <h1>List of all games</h1>
    <div th:if="${errorMessage}">
        <p th:text=${errorMessage} style="color: red"></p>
    </div>

    <form action="start/create-game" method="post">
        <input type="submit" value="Create new game" id="newGame">
    </form>

    <div th:if="${games != null}">
        <div class="game" th:each="game : ${games}">
            <p th:text="'Game ID: ' + ${game.id}"></p>
            <p th:text="'Player: ' + ${game.user.firstName} + ' ' + ${game.user.lastName}"></p>
            <div th:if="${game.deck != null}">
                <p th:text="'Deck ID: ' + ${game.deck.deck_id} + ' Remaining: ' + ${game.deck.remaining}"></p>
            </div>

            <div style="display: flex; flex-wrap: wrap;">
                <form action="play" method="get" style="margin-right: 10px;">
                    <input type="hidden" name="gameId" th:value="${game.id}" />
                    <input type="submit" value="Play" class="button"/>
                </form>
                <form action="start/delete-game" method="post" th:object="${game}">
                    <input type="hidden" name="gameId" th:value="${game.id}" />
                    <input type="submit" value="Delete" class="button"/>
                </form>
            </div>

            <br>
        </div>
    </div>


</body>

</html>