<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Starting Page</title>
</head>

<body>
    <h1>Game Started</h1>
    <div th:if="${deck != null}">
        <p th:text="'Deck ID: ' + ${deck.deck_id}"></p>
        <p th:text="'Remaining cards: ' + ${deck.remaining}"></p>
    </div>

    <h1>Game State Information</h1>

    <div th:if="${gamestate != null}">
        <p th:text="'Game ID: ' + ${gamestate.id}"></p>
        <p th:text="'Player: ' + ${gamestate.user.firstName} + ' ' + ${gamestate.user.lastName}"></p>
        <p th:text="'Deck ID: ' + ${gamestate.deck.deck_id} + ' Remaining: ' + ${gamestate.deck.remaining}"></p>
    </div>

    <h1>All Games</h1>

    <div th:if="${games != null}">
        <div th:each="game : ${games}">
            <p th:text="'Game ID: ' + ${game.id}"></p>
            <p th:text="'Player: ' + ${game.user.firstName} + ' ' + ${game.user.lastName}"></p>
            <div th:if="${game.deck != null}">
                <p th:text="'Deck ID: ' + ${game.deck.deck_id} + ' Remaining: ' + ${game.deck.remaining}"></p>
            </div>

            <div style="display: flex; flex-wrap: wrap;">
                <form action="play" method="get" style="margin-right: 10px;">
                    <input type="hidden" name="gameId" th:value="${game.id}" />
                    <input type="submit" value="Play" />
                </form>
                <form action="start/delete-game" method="post" th:object="${game}">
                    <input type="hidden" name="gameId" th:value="${game.id}" />
                    <input type="submit" value="Delete" />
                </form>
            </div>

            <br>
        </div>
    </div>

    <form action="start/create-game" method="post">
        <input type="submit" value="Neues Spiel erstellen">
    </form>
</body>

</html>